@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Cairo'; /* Or your chosen Arabic font */
  src: url('/fonts/Cairo-Regular.ttf') format('truetype'); /* Adjust path and format if necessary */
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Bold.ttf') format('truetype'); /* Add other weights as needed */
  font-weight: 700; /* Bold weight */
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cairo', sans-serif; 
  direction: rtl; 
}
